
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>@ViewBag.Title | Admin</title>
            <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small>Everythings Nice</small>
    </h1>
</section>

<content>
    
</content>

